  <header>
    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
	<h2>{{ page.title }}</h2>

        <a  href="/">Index</a> |<br>
        <a  href="/docs/architecture/">Architecture</a> |<br>
        <a  href="/docs/canonical_vocabulary/">Canonical Vocabulary</a> |<br>
        <a  href="/docs/information_model/">Information Model</a> |<br>
        <a  href="/docs/services_resources/">Service Resources</a> |<br>
        <a  href="/docs/services_common/">Common Services</a> |<br>
        <a  href="/docs/interface/">Interface</a> |<br>
        <a  href="/docs/message_transport/">Message Transport</a> |<br>
        <a  href="/docs/governance/">Goverance</a> |<br>
        <a  href="/docs/security/">Security</a> |<br>
        <a  href="/docs/about/">About</a> |<br>

  </header>